<div xmlns:th="http://www.thymeleaf.org">
    <!-- Footer -->
    <footer class="py-3 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white"
               th:text="'&copy; Project Eden ' + ${#dates.year(#dates.createNow())}"></p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom JavaScript for this theme -->
    <script th:src="@{/js/scrolling-nav.js}"></script>
</div>