<div xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="#StringUtils" type="eden.utils.StringUtils"*/-->
    <!--/*@thymesVar id="#PunishmentType" type="eden.models.punishments.PunishmentType"*/-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">Justice</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" th:each="type: ${ #PunishmentType.values() }" style="padding-right: 10px">
                        <a class="nav-link" th:href="@{'/recent/' + ${ #strings.toLowerCase(type) } + 's'}"
                           th:text="${ #StringUtils.camelCase(type) } + 's'"></a>
                    </li>
                    <li class="nav-item">
                        <form name="search"
                              onsubmit="document.location.href = '/history/' + this.player.value; return false;">
                            <input name="player" type="text" class="form-control" placeholder="Search">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>