<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="#Nerd" type="gg.projecteden.models.nerd.Nerd"*/-->
<!--/*@thymesVar id="#TimeUtils" type="gg.projecteden.utils.TimeUtils"*/-->
<!--/*@thymesVar id="#StringUtils" type="gg.projecteden.utils.StringUtils"*/-->

<head th:replace="fragments/header"/>

<body>

<div th:replace="fragments/navbar"/>

<div class="container">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <h1 th:text="'History for ' + ${ history.getNickname() }"/>
            <br/>

            <h2 th:if="${ history.getActiveBan().isPresent() }">
                <span class="badge badge-danger">Banned</span>
            </h2>
            <h2 th:if="${ history.getActiveMute().isPresent() }">
                <span class="badge badge-danger">Muted</span>
            </h2>
            <h2 th:if="${ history.getActiveFreeze().isPresent() }">
                <span class="badge badge-danger">Frozen</span>
            </h2>
            <h2 th:if="${ history.getActiveWatchlist().isPresent() }">
                <span class="badge badge-danger">Watchlisted</span>
            </h2>

            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Punisher</th>
                            <th>Type</th>
                            <th>Timestamp</th>
                            <th>Reason</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="entry : ${ history.getPunishments() }">
                            <td class="text-nowrap" th:text="${ #Nerd.of(entry.getPunisher()).getNickname()          }"/>
                            <td class="text-nowrap" th:text="${ #StringUtils.camelCase(entry.getType())              }"/>
                            <td class="text-nowrap" th:text="${ #TimeUtils.shortDateTimeFormat(entry.getTimestamp()) }"/>
                            <td                     th:text="${ entry.getReason()                                    }"/>
                            <td class="text-nowrap" th:text="${ entry.getTimeLeft()                                  }"/>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer"/>
<div th:replace="fragments/scripts"/>

</body>

</html>
