<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="#Nerd" type="gg.projecteden.models.nerd.Nerd"*/-->
<!--/*@thymesVar id="#TimeUtils" type="gg.projecteden.utils.TimeUtils"*/-->
<!--/*@thymesVar id="#StringUtils" type="gg.projecteden.utils.StringUtils"*/-->

<head th:replace="fragments/header"/>

<body>

<div th:replace="fragments/navbar"/>

<div class="container">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <h1 th:text="${ #StringUtils.camelCase(type) } + 's'"/>
            <br/>
            <div>
                <table class="table text-light">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>Punisher</th>
                            <th>Type</th>
                            <th>Timestamp</th>
                            <th>Reason</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="entry : ${ punishments }">
                            <td class="text-nowrap" th:text="${ #Nerd.of(entry.getUuid()).getNickname()              }"/>
                            <td class="text-nowrap" th:text="${ #Nerd.of(entry.getPunisher()).getNickname()          }"/>
                            <td class="text-nowrap" th:text="${ #StringUtils.camelCase(entry.getType())              }"/>
                            <td class="text-nowrap" th:text="${ #TimeUtils.shortDateTimeFormat(entry.getTimestamp()) }"/>
                            <td                     th:text="${ entry.getReason()                                    }"/>
                            <td class="text-nowrap" th:text="${ entry.getTimeLeft()                                  }"/>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer"/>
<div th:replace="fragments/scripts"/>

</body>

</html>
