<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="#Nerd" type="eden.models.nerd.Nerd"*/-->
<!--/*@thymesVar id="#TimeUtils" type="eden.utils.TimeUtils"*/-->
<!--/*@thymesVar id="#StringUtils" type="eden.utils.StringUtils"*/-->

<head th:replace="/fragments/header"/>

<body>

<div th:replace="/fragments/navbar"/>

<div class="container">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <h1 th:text="${ #StringUtils.camelCase(type) } + 's'"/>
            <br/>
            <div>
                <p th:each="entry : ${ punishments }">
                    <span><b>Player:    </b></span><span th:text="${ #Nerd.of(entry.getUuid()).getNickname()              }"/><br/>
                    <span><b>Punisher:  </b></span><span th:text="${ #Nerd.of(entry.getPunisher()).getNickname()          }"/><br/>
                    <span><b>Type:      </b></span><span th:text="${ #StringUtils.camelCase(entry.getType())              }"/><br/>
                    <span><b>Timestamp: </b></span><span th:text="${ #TimeUtils.shortDateTimeFormat(entry.getTimestamp()) }"/><br/>
                    <span><b>Reason:    </b></span><span th:text="${ entry.getReason()                                    }"/><br/>
                    <br/>
                </p>
            </div>
        </div>
    </div>
</div>

<div th:replace="/fragments/footer"/>
<div th:replace="/fragments/scripts"/>

</body>

</html>
